CMake.Lists.txt
/.idea/
/cmake-build-debug/
/home/olixandr/CLionProjects/Pa2/cv/CMakeLists.txt
/home/olixandr/CLionProjects/Pa2/cv/cv_03/complex/CMakeLists.txt
/home/olixandr/CLionProjects/Pa2/cv/cv_02/CMakeLists.txt
/home/olixandr/CLionProjects/Pa2/cv/cv_01/CMakeLists.txt
/home/olixandr/CLionProjects/Pa2/cv/cmake-build-debug